
.secondary {
    color: var(--foregroundSecondary);
}

.headerArea {
    padding:10px;
    margin:30px;
}

.menu li {
    display: block;
    color: var(--foregroundSecondary);
    font-size: 1.2em;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.menu li:hover {
    background: var(--foreground);
    color: var(--background);
}

.menuIconLinks {
    display: flex;
    justify-content: left;
    margin-top: 10px;
    gap: 10px;
}

.menuIconLinks .techImageBackground {
    fill: var(--foregroundSecondary);
}

.iconLink {
    display: inline;
    width: 1.5rem;
    height: 1.5rem;
}

.iconLink svg {
    width: 1.25rem;
    height:1.25rem;
}

.headerImage {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border:0;
    border-radius: 50%;
}

.headingTitle {
    font-size: 2em;
    font-weight: bold;
    color: var(--foreground);
}

.headingSubtitle {
    font-size: 1em;
    font-weight: bold;
    color: var(--foregroundSecondary);
}

.headerSmall {
    font-size: 0.75em;
    color: var(--foregroundSecondary);
}

.lastUpdated {
    font-size: 0.75em;
    color: var(--foregroundSecondary);
    position: absolute;
    bottom: 30px;
    left: 40px;
}

.pageTitle {
    font-size: 3em;
    font-weight: bold;
    color: var(--foreground);
    margin: 20px;
}

.innerPageHeading {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--foreground);
    margin: 20px 0;
}

.introPage {
    margin:0;
}

.innerPage {
    padding: 20px;
    margin: 40px 0px 0px 20px;
    top:40px;
}

.introText {
    font-size: 1.2em;
    color: var(--foreground);
    padding: 0 20px;
    max-width: 800px;
    margin: 40px 0px;
}

.techGrid {
    margin: 40px 0px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    justify-items: center;
    gap: 20px;
}

.techComp {
    max-width: 75px;
    aspect-ratio: 1;
}

.techImage {
    width: 50px;
    height: 50px;
    position:relative;
    padding: 10px;
    left:50%;
    color: var(--foreground);
    transform: translateX(-50%);
}

.techImage path {
    fill: var(--foreground);
}

.techImageBackground{
    fill: var(--foreground);
}

.techImageForeground {
    fill: var(--background) !important;
}

.techTitle {
    font-size: .7em;
    position:relative;
    width:100%;
    text-align: center;
    color: var(--foreground);
    margin-top: 5px;
}

.workExp {
    margin: 20px;
    max-width: 800px;
}

.workExpHeading {
    font-size: 1.5em;
    font-weight:bold;
}

.expDate {
    font-size: 0.85em;
    color: var(--foregroundSecondary);
}

.expDesc {
    color: var(--foreground);
    margin-top:10px;
    padding-left: 20px;
    list-style: initial;
}

.tech {
    display: inline-block;
}

.projectsTechUsed {
    margin-top:10px;
    margin-left: 20px;
}

@media (max-width: 1100px) {
    .techGrid {
        grid-template-columns: repeat(6, 1fr);
        justify-content: left;
    }

    .menu li {
        padding-left:0;
    }

    .menu li:hover {
        background: var(--background);
        color: var(--foreground);
    }

    .headerArea {
        margin-top: 20%;
    }

    .headerImage {
        position:relative;
        left:50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }

}

@media (max-width: 800px) {
}

@media (max-width: 700px) {
    .techGrid {
        grid-template-columns: repeat(3, 1fr);
    }

    .introHeading {
        padding:0;
        margin:0;
    }
    .innerPageHeading {
        margin: 20px 0;
    }
    .innerPage {
        margin: 0;
    }

    .workExp {
        margin: 10px 10px 10px 20px;
    }
}
